#footerdiv {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #9b0000; /* Darker shade of red */
    color: white;
    padding: 1rem 0; /* Added padding for better spacing */
    z-index: 1; /* Add z-index to ensure it's above other content */
  }
  
  #footerdiv p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem; /* Slightly increased font size */
  }
  
  #footerdiv a {
    color: #ffc107; /* Yellow color for email link */
    text-decoration: none;
    transition: color 0.3s;
  }
  
  #footerdiv a:hover {
    color: #ffea00; /* Brighter yellow on hover */
  }
  
