

/* #pd img {
    height: auto;
    width: 100%;
    object-fit: cover;  This will make the image stretch while maintaining aspect ratio 
} */

  
  #rd {
    display: flex;
    flex-direction: column; /* Added to make vertical alignment consistent */
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 5rem 0; /* Adjusted padding to add space both top and bottom */
    font-size: 1.4rem;
  }
  
  /* Add this rule to ensure the footer stays at the bottom */
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  



