.donor-patient-table {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 2rem;
    font-size: 1.2rem;
  }
  .heading-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
    
  table {
    border: 2px solid rgb(157, 1, 1);
    width: auto;
    height: 200px;
  }
    
  th {
    padding:0 .5rem 0 .5rem;
    border-bottom: 1px solid rgb(157, 1, 1);
    box-shadow: 0 0 1px 1px white;
    background-color: lightblue;
  }
    
  td {
    padding:0 .5rem 0 .5rem;
    text-align: center;
  }

 .edit-button, .delete-button {
  display: inline;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  width: auto;
  box-shadow: 0 0 1px 1px black;
  color: white;
  cursor: pointer;
  transition: box-shadow 0.2s, background-color 0.2s;
}

.edit-button {
  background-color: blue;
}

.delete-button {
  background-color: red;
}

.edit-button:hover, .delete-button:hover {
  box-shadow: 0 0 1px 1px white, 0 0 2px 2px black;
}

/* Additional styling to enhance attractiveness */
.edit-button:focus, .delete-button:focus {
  outline: none; /* Remove the default focus outline */
}

/* Style for button click effect */
.edit-button:active, .delete-button:active {
  transform: translateY(1rem);
  box-shadow: none;
}

  